{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>E-Commerce System</title>
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">

</head>

<body>

    <h1>E-Commerce System</h1>

    <a href="/">Products</a> |
    <a href="/add-product/">Add Product</a> |
    <a href="/add-customer/">Add Customer</a> |
    <a href="/add-order/">Add Order</a> |
    <a href="/orders/">Orders</a>

    <hr>

    {% block content %}{% endblock %}

    <script src="{% static 'store/js/script.js' %}"></script>

</body>

</html>
__________